<div style="display:none;">
  <div id="addpin">
<div class="panel panel-default" style="max-width: 420px;margin: 0 auto;">
	  <div class="panel-heading">
	  	<h2> Add Pin </h2>
	  </div>
	   <div class="panel-body">
		<%= form_for current_user.pins.build do |f| %>
<div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
		<% end %>

	</div>
</div>
</div>
</div>



