<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default" style="max-width:420px;margin:0 auto;">
			<div class="panel-heading center">
		<%= image_tag @pin.image.url %>
	</div>
		<div class="panel-body">
		<p><%= @pin.description %></p>
		<p><%= time_ago_in_words(@pin.created_at) + ' ago' %></p>
		<p><strong><%= @pin.user.name if @pin.user %></strong></p>


		 <% if user_signed_in? %>
                        <div class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
             
              <% if current_user.voted_up_on? @pin %>
                <li>
              <%= link_to dislike_pin_path(@pin), method: :put, remote: true, data: { type: :json }, class: "downvote" do %>
                  <span class="glyphicon glyphicon-thumbs-down"></span> <span class="lableapproved"> Unlike</span>
                  <span class="badge" id="votingdown"><%= @pin.get_likes.size%> </span> 
                  <% end %>
                </li>
            
            <% else %>
              <li>
              <%= link_to like_pin_path(@pin), method: :put, remote: true, data: { type: :json }, class: "upvote" do %>
              
              <span class="upvote glyphicon glyphicon-thumbs-up"></span> <span class="lableapproved"> Like </span>
              <span class="badge" id="votingup"><%= @pin.get_likes.size%> </span> 

              <% end %>


            </li>
            <% end %>

            <% if @pin.user == current_user %>
              <li>
            <%= link_to edit_pin_path(@pin), class: "white" do %>
            <span class="glyphicon glyphicon-edit"></span> Edit
            <% end %>  
            </li>

            <% end %>

                        <% if current_user.try(:admin?) %>
                <li>    
                <%= link_to  @pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "white" do %>
                <span class="glyphicon glyphicon-trash"></span> S.Delete
                <% end %>
              </li>
            <% elsif @pin.user == current_user %>
            <li>    
                <%= link_to  @pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "white" do %>
                <span class="glyphicon glyphicon-trash"></span>Delete
                <% end %>
              </li> 
                <% end %>
		<% end %>
	</div>
		</div>
		<div class="panel-footer">
	<%= link_to 'Back', pins_path, class: "btn btn-danger" %>
</div>
	</div>
</div>


              <script>



              $(".upvote")
  .on('ajax:send', function () { $(this).addClass('loading'); })
  .on('ajax:complete', function () { $(this).removeClass('loading'); })
  .on('ajax:error', function(e, xhr, status, error) { console.log(status); console.log(error); })
  .on('ajax:success', function (e, data, status, xhr) {$(this).find("#votingup").html(data.count);
          $(this).attr("class","downvote");
          $(this).find('.lableapproved').text('Liked');
   }); 

                $(".downvote")
  .on('ajax:send', function () { $(this).addClass('loading'); })
  .on('ajax:complete', function () { $(this).removeClass('loading'); })
  .on('ajax:error', function(e, xhr, status, error) { console.log(status); console.log(error); })
  .on('ajax:success', function (e, data, status, xhr) {$(this).find("#votingdown").html(data.count);
           $(this).attr("class","upvote");
           $(this).find('.lableapproved').text('Unliked');
 }); 



  </script>